# Dataset
Dataset/

# Trained machine-learning model
asl_model.pkl

# Python cache
__pycache__/
*.pyc

# Temporary files
tempCodeRunnerFile.py

# Local databases
users.db
user.db

# VS Code
.vscode/

# Environment
venv/
.env